# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore npm debug logs
npm-debug.log

# Ignore IDE/Editor specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build/output directories
dist/
build/


# Ignore local development files
*.local

# Ignore logs
logs/
*.log